In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("E:\Important\Skills\Data-Analysis-With-Python\Global Coffee Health Data Aanalysis\synthetic_coffee_health_10000.csv")

In [33]:
df.head()

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1

In [34]:
df.shape

(10000, 16)

In [35]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,10000.0,NaN,NaN,NaN,5000.5,2886.89568,1.0,2500.75,5000.5,7500.25,10000.0
Age,10000.0,NaN,NaN,NaN,34.9491,11.160939,18.0,26.0,34.0,43.0,80.0
Gender,10000,3,Female,5001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,10000,20,Canada,543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coffee_Intake,10000.0,NaN,NaN,NaN,2.50923,1.450248,0.0,1.5,2.5,3.5,8.2
Caffeine_mg,10000.0,NaN,NaN,NaN,238.41101,137.748815,0.0,138.75,235.4,332.025,780.3
Sleep_Hours,10000.0,NaN,NaN,NaN,6.63622,1.222055,3.0,5.8,6.6,7.5,10.0
Sleep_Quality,10000,4,Good,5637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMI,10000.0,NaN,NaN,NaN,23.98686,3.906411,15.0,21.3,24.0,26.6,38.2
Heart_Rate,10000.0,NaN,NaN,NaN,70.6178,9.822951,50.0,64.0,71.0,77.0,109.0
Stress_Level,10000,3,Low,6989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Physical_Activity_Hours,10000.0,NaN,NaN,NaN,7.48704,4.31518,0.0,3.7,7.5,11.2,15.0
Health_Issues,4059,3,Mild,3579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Occupation,10000,5,Office,2073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Smoking,10000.0,NaN,NaN,NaN,0.2004,0.40032,0.0,0.0,0.0,0.0,1.0
Alcohol_Consumption,10000.0,NaN,NaN,NaN,0.3007,0.458585,0.0,0.0,0.0,1.0,1.0

In [38]:
df.isnull().sum()

ID                            0
Age                           0
Gender                        0
Country                       0
Coffee_Intake                 0
Caffeine_mg                   0
Sleep_Hours                   0
Sleep_Quality                 0
BMI                           0
Heart_Rate                    0
Stress_Level                  0
Physical_Activity_Hours       0
Health_Issues              5941
Occupation                    0
Smoking                       0
Alcohol_Consumption           0
dtype: int64

In [39]:
mode_val = df["Health_Issues"].mode()[0]

In [40]:
mode_val

'Mild'

In [41]:
df["Health_Issues"] = df["Health_Issues"].fillna(mode_val)

In [42]:
df.isnull().sum()

ID                         0
Age                        0
Gender                     0
Country                    0
Coffee_Intake              0
Caffeine_mg                0
Sleep_Hours                0
Sleep_Quality              0
BMI                        0
Heart_Rate                 0
Stress_Level               0
Physical_Activity_Hours    0
Health_Issues              0
Occupation                 0
Smoking                    0
Alcohol_Consumption        0
dtype: int64