In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("/kaggle/input/synthetic-house-price-dataset/house_price_dataset.csv")

dataset link: [https://www.kaggle.com/datasets/arshadrahmanziban/synthetic-house-price-dataset](http://)

In [6]:
df

     Square_Feet  Num_Bedrooms  House_Age   House_Price
0           1360             1         47  4.053555e+05
1           4272             1         66  1.277485e+06
2           3592             3         92  1.072336e+06
3            966             5         94  2.919533e+05
4           4926             4         38  1.486570e+06
..           ...           ...        ...           ...
495         1743             5         98  5.370959e+05
496         4209             3         63  1.271171e+06
497         1581             2         28  4.918116e+05
498          955             1         60  2.669741e+05
499         1394             3         79  4.123754e+05

[500 rows x 4 columns]

In [7]:
df["House_Price"]

0      4.053555e+05
1      1.277485e+06
2      1.072336e+06
3      2.919533e+05
4      1.486570e+06
           ...
495    5.370959e+05
496    1.271171e+06
497    4.918116e+05
498    2.669741e+05
499    4.123754e+05
Name: House_Price, Length: 500, dtype: float64

In [8]:
df['House_Price'] = df['House_Price'].astype(int)

In [9]:
df

     Square_Feet  Num_Bedrooms  House_Age  House_Price
0           1360             1         47       405355
1           4272             1         66      1277485
2           3592             3         92      1072336
3            966             5         94       291953
4           4926             4         38      1486570
..           ...           ...        ...          ...
495         1743             5         98       537095
496         4209             3         63      1271171
497         1581             2         28       491811
498          955             1         60       266974
499         1394             3         79       412375

[500 rows x 4 columns]

In [11]:
df.dtypes

Square_Feet     int64
Num_Bedrooms    int64
House_Age       int64
House_Price     int64
dtype: object

In [12]:
# Features and target
X = df[['Square_Feet', 'Num_Bedrooms','House_Age']].values
y = df['House_Price'].values

In [13]:
X

array([[1360,    1,   47],
       [4272,    1,   66],
       [3592,    3,   92],
       ...,
       [1581,    2,   28],
       [ 955,    1,   60],
       [1394,    3,   79]])

In [16]:
y

array([ 405355, 1277485, 1072336,  291953, 1486570, 1179746, 1090600,
       1039550,  188998,  660178,  403571,  861041,  897989,  503447,
       1195821, 1406100, 1012590,  306335,  457901,  918222,  784586,
        985573,  462318,  709905,  223075,  945130, 1058754,  718032,
        511427,  616601, 1126978, 1212334, 1303091,  337708, 1026342,
        874805,  349305,  856070,  779955,  230410,  778196, 1007899,
        931477,  558525,  602399,  926475,  383856, 1374232,  184092,
       1098114,  735392,  623002, 1338849, 1050326,  436717, 1200539,
        930091, 1326357,  589285,  227547, 1451153,  764657,  453731,
       1158546, 1298869,  543418,  478722,  244141,  417235,  471463,
       1366421,  284088,  308558,  763889, 1315366,  174767,  936020,
        755473,  986348,  622316,  262536, 1500176, 1223008,  818738,
       1101109,  188081, 1082554,  871773, 1248588,  385233,  984565,
        981250,  613955,  968014, 1333319,  459579,  310332, 1513514,
        414005, 1529490,  221145,  606701,  408720, 1000172,  333313,
       1429725,  677604,  665245, 1125684,  481607,  673186, 1143093,
       1124350,  931533,  965367,  643033, 1049721,  965142, 1239877,
        568415,  758410,  664392,  615628,  785131, 1131756,  809683,
        513981, 1366717,  971046,  566008,  350170, 1481972, 1279204,
        362692,  745128, 1178561, 1286068,  602070, 1158216, 1278043,
        715738,  549185, 1195795, 1173195,  646832, 1270224, 1029555,
       1102551,  362044,  813192, 1392642,  404731, 1198072,  654442,
        993377,  678619, 1205241,  224876, 1113348, 1435741, 1494407,
        409336, 1468389,  838380, 1016316,  218306,  737670, 1247425,
        350745, 1139504,  496126, 1455387, 1177066,  905497,  690131,
        335990, 1006383,  544224,  744890,  193250, 1125600, 1038183,
        659712,  714992,  304393, 1072125,  743564,  869158, 1021090,
        716577, 1374588, 1166933,  222215,  347742,  458765, 1251192,
        771630, 1250660, 1095472, 1369028,  762691, 1124234,  679429,
        822376,  498310, 1505574, 1102875,  657292, 1342133,  673684,
        580204, 1420011, 1321583,  222266, 1138351,  905576,  193606,
        823151, 1041544, 1482455, 1272252, 1011962, 1135669, 1286599,
        441214, 1389053,  212897, 1508486,  556004, 1340613,  590919,
        497562, 1497948, 1113525,  945772,  434764, 1191268,  472290,
        647596, 1176598,  338096,  923039, 1122909,  234270,  446491,
       1091761,  385557, 1079000,  145832,  503972,  819553,  874959,
        500186, 1202651,  916499,  480154,  848773, 1191520,  260611,
       1457130,  331663, 1076696,  363994,  497857,  217109,  848225,
        422478, 1052868,  527345, 1162830, 1171166,  164831,  780357,
        710207,  325208,  725410,  976166, 1321122, 1358204, 1004527,
        678174, 1058748,  197010,  923536,  586419, 1373692,  398861,
       1119539, 1458460, 1013211,  318496,  705736,  896594,  304990,
       1017446, 1399013, 1407771,  862591, 1319729, 1499295,  981095,
        436618,  503994,  973179,  774826,  412521, 1404043, 1266650,
       1286158,  338735, 1131745,  520833,  653530, 1324877,  914094,
        930146, 1081743, 1076679,  157945,  402676,  452943, 1383868,
       1475963, 1499940,  352726,  652958,  640369,  191533,  390392,
       1246787,  567434,  363224,  189809, 1014534,  495181,  727313,
        481110,  659085,  481326,  340578, 1000373,  328165, 1261149,
       1171965, 1358795,  623268,  315764,  845991, 1093393, 1424194,
        640150, 1213612,  995434, 1146132, 1370840,  500954, 1065460,
        771828, 1060429, 1062300,  844651,  919770,  647008,  693353,
       1479525,  785216, 1017337, 1126323, 1276494,  883002,  648257,
       1005211,  453371,  556480, 1076219,  998289,  283657,  394585,
       1241563,  409212,  648813,  751684, 1267151,  878139,  607414,
       1383863,  977484, 1228195, 1327628,  479036, 1458720,  898869,
       1389934, 1181630, 1361205,  905904,  373448,  783175, 1020048,
       1019998, 1410995,  392796,  626242, 1084139,  284582,  174676,
        337277, 1336939, 1114475,  391634,  594917, 1097132,  283432,
        366867, 1150801,  977175,  350834, 1199071,  898913, 1053873,
        986363,  487090, 1378827,  631232,  796924,  635620, 1397356,
       1289412, 1160057, 1290524,  866595, 1044086, 1320560,  323410,
        373914,  578993, 1495928,  366489,  267978, 1399333, 1465786,
        925221,  682001,  368956,  973884, 1221148,  211931, 1080835,
       1520788, 1021213, 1218058, 1120690,  492098,  947805,  461269,
        803799, 1054282, 1138170,  487773,  366150, 1443651,  411936,
        924948, 1155870, 1169723,  609991,  495708, 1042832,  965616,
        543113,  614705, 1137544,  877965, 1273294,  551395,  726083,
        549787,  312126,  640686,  322621, 1452110,  547700,  500469,
        694551, 1084675, 1221788,  675390, 1001020,  839002, 1418378,
        357785, 1235239, 1403825, 1189721, 1428382,  537095, 1271171,
        491811,  266974,  412375])

In [17]:
X_mean, X_std = X.mean(axis=0), X.std(axis=0)
X = (X - X_mean) / X_std

In [18]:
y_mean, y_std = y.mean(), y.std()
y = (y - y_mean) / y_std

In [20]:
import numpy as np
X = np.c_[np.ones(len(X)), X]

In [21]:
def gradient_descent(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        theta -= (alpha / m) * X.T @ (X @ theta - y)
    return theta

In [22]:
theta = np.zeros(X.shape[1])
alpha = 0.1  # Adjusted learning rate
iterations = 1000

In [23]:
# Train model
theta = gradient_descent(X, y, theta, alpha, iterations)

In [25]:
df.dtypes

Square_Feet     int64
Num_Bedrooms    int64
House_Age       int64
House_Price     int64
dtype: object

In [26]:
# Prediction function
def predict(Square_Feet, Num_Bedrooms, House_Age ):
    # input using training mean/std
    Square_Feet = (Square_Feet - X_mean[0]) / X_std[0]
    Num_Bedrooms = (Num_Bedrooms - X_mean[1]) / X_std[1]
    House_Age = (House_Age - X_mean[2]) / X_std[2]

    # Compute predicted value
    normalized_price = theta[0] + theta[1] * Square_Feet + theta[2] * Num_Bedrooms + theta[3] * House_Age
    return normalized_price * y_std + y_mean

In [29]:
predicted_price = predict(900, 6,40)
print(f"Predicted price for 900 sqft, 6 bedrooms, 40 years age: ${predicted_price:.2f}")

Predicted price for 900 sqft, 6 bedrooms, 40 years age: $290637.06